{% extends 'base.html.twig' %}

{% block title %}Usine index{% endblock %}

{% block main %}
    <h2>Liste des Usines:</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Propriétaire</th>
                <th>Public </th>
            </tr>
        </thead>
        <tbody>
        {% for usine in usines %}
            <tr>
                <td>{{ usine.name }}</td>
                <td>{{ usine.member }}</td>   
                <td>{{ usine.public ? 'yes' : 'no' }}</td>                  
                <td>
                    <a href="{{ path('app_usine_show', {'id': usine.id}) }}">show</a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_usine_edit', {'id': usine.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_usine_new') }}">Create new</a>
    <a href="{{ path('app_usine_index') }}">back to list</a>
{% endblock %}
