{% extends 'base.html.twig' %}

{% block title %}Usine{% endblock %}

{% block main %}
    <h1>Usine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usine.id }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ usine.name }}</td>
            </tr>
            <tr>
                <th>Member</th>
            <td>{{ usine.member }}</td>
            </tr>
            <tr>
            {% for tank in usine.tanks %}
                <tr>
                <th>Tank n°{{tank.id}}</th>
                <td>
                    {{ tank.name }}<br>
                    <th> - </th>
                    <td> <a href={{path('app_usine_tank_show', {'usine_id': usine.id, 'tank_id': tank.id})}}>show</a> </td>  
                </td>
                </tr>
            {% endfor %}
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_usine_index') }}">back to list</a>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_usine_edit', {'id': usine.id}) }}">edit</a>
    {% endif %}

    {{ include('usine/_delete_form.html.twig') }}
{% endblock %}
